<header *ngIf = "carpool">
	<p><strong>Time</strong>: {{carpool.Time}}  
      <strong>From</strong>: {{carpool.From}}  <strong>To</strong>: {{carpool.To}}</p>
      <p>Provider: {{carpool.Provider}}</p>
      <p>Contact: {{carpool.Contact}}</p>
      <p>Public: {{carpool.public}}</p>

      <form *ngIf = "carpool"  (submit)="saveCarpool()">
		<p>
		  <label>Time</label>
		  <input type="text" [(ngModel)]="carpool.Time" name="Time">
		</p>
		<p>
		  <label>From</label>
		  <input type="text" [(ngModel)]="carpool.From" name="From">
		 </p>
		 <p>
		  <label>To</label>
		  <input type="text" [(ngModel)]="carpool.To" name="To">
		</p>
		<p>
		  <label>Provider</label>
		  <input type="text" [(ngModel)]="carpool.Provider" name="Provider">
		 </p>
		 <p>
		  <label>Contact</label>
		  <input type="text" [(ngModel)]="carpool.Contact" name="Contact">
		 </p> 
		 <label>Public</label>
		 <input type="checkbox" [(ngModel)]="carpool.public"  name = "public"/>
	 	 <button type="submit">Save</button>
	 	 <a [routerLink]="['/']">Cancel</a>
	</form>

	<ul>
		Users to invite:
		<li *ngFor="let user of users">
	  		<div>{{ user | displayName }}</div>
		</li>
	</ul>
</header>